@page "/todos"

@using BlazorTodo.Client.Models
@using Serilog

<MudText Typo="Typo.h2">Todos</MudText>

<MudForm>
    <MudGrid>
        <MudItem sm="10" xs="12">
            <MudTextField @bind-Value="TextValue" Immediate="true" Label="Add your todo" Variant="Variant.Text" OnKeyDown="OnKeyDown" ></MudTextField>
        </MudItem>
        <MudItem sm="2" xs="12">
            <MudButton Variant="Variant.Filled" FullWidth="true" Color="Color.Primary" OnClick="AddTodo">Add</MudButton>
        </MudItem>
    </MudGrid>
</MudForm>


<div class="mt-10"></div>

@if (TodoList.Count == 0)
{
    <MudText Typo="Typo.body1">No Todos</MudText>
}
else
{
    foreach (var todo in TodoList)
    {
        <MudText Typo="Typo.body1">@todo.Text</MudText>
    }
}

@code {
    public string TextValue { get; set; } = string.Empty;

    public List<Todo> TodoList { get; set; } = new List<Todo>();

    public void OnKeyDown(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            Log.Information("Enter key pressed");
            AddTodo();
        }
    }

    public void AddTodo()
    {
        var todo = new Todo { Text = TextValue };
        TodoList.Add(todo); ;
        TextValue = string.Empty;

        Log.Information("Added Todo {@todo}", todo);
    }
}
